# dependencies
node_modules

# turbo
.turbo

# next.js / builds
.next
out
dist

# keycloakify — tout est régénéré à chaque build
dist_keycloak
apps/keycloak-theme/src/kc.gen.tsx
apps/keycloak-theme/public/keycloakify-dev-resources

# misc
.DS_Store
*.pem

# IDE
.idea/
.vscode/

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
